<div class="p-4 mb-3 bg-light rounded">
    <h4 class="fst-italic">Sobre</h4>
    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto distinctio dolor earum eos eveniet molestias nam optio qui totam veniam. Distinctio ipsa modi non omnis? Assumenda enim illo illum recusandae.</p>
</div>