<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary" href="#">Tecnologia</a>
        <a class="p-2 link-secondary" href="#">Educação</a>
        <a class="p-2 link-secondary" href="#">Ciência</a>
        <a class="p-2 link-secondary" href="#">Jogos</a>

    </nav>
</div>